/* Header Styles - Migrated from original styles.css */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
}

.nav {
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: white;
  font-family: "Galada", cursive;
  text-decoration: none;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.nav__list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: white;
  font-weight: 600;
  font-family: "Galada", cursive;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Mobile Menu */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: hsl(1, 100%, 38%);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 3.5rem;
    transition: top 0.4s;
  }

  .nav__menu.show-menu {
    top: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1150px) {
  .nav {
    height: calc(3.5rem + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__logo {
    font-size: 1.25rem;
  }
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
