/* Global App Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #1a1a2e;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
